<template>
  <div class="subheading mb-5">
    {{ address }} · {{ city }}, {{ state }} {{ zip }} · {{ formattedPhone }} · <a :href="emailUrl">{{ email }}</a>
  </div>
</template>

<script>
import { userDetails } from "../../personalData.js";
export default {
  name: "AddressBlock",
  data() {
    return {
      address: userDetails.address,
      city: userDetails.city,
      state: userDetails.state,
      zip: userDetails.zip,
      phone: userDetails.phone,
      email: userDetails.email
    };
  },
  computed: {
    emailUrl() {
      return `mailto:${this.email}`;
    },
    formattedPhone() {
      const areaCode = this.phone.substr(0, 3);
      const cityCode = this.phone.substr(3, 3);
      const suffix = this.phone.substr(6, 4);
      return `(${areaCode}) ${cityCode}-${suffix}`;
    }
  }
};
</script>

<style>

</style>
