<template>
  <li class="list-inline-item">
    <a :href="url" target="_blank">
      <span class="fa-stack fa-lg">
        <i class="fa fa-circle fa-stack-2x" />
        <i :class="linkIcon" />
      </span>
    </a>
  </li>
</template>

<script>
export default {
  name: "IconLink",
  props: {
    url: {
      type: String,
      required: true
    },
    linkType: {
      type: String,
      required: true
    }
  },
  computed: {
    linkIcon() {
      return `fa fa-${this.linkType} fa-stack-1x fa-inverse`;
    }
  }
};
</script>

<style>

</style>
