<template>
  <ul class="list-inline list-social-icons mb-0">
    <icon-link v-if="facebook" :url="facebookUrl" :linkType="facebook" />
    <icon-link v-if="twitter" :url="twitterUrl" :linkType="twitter" />
    <icon-link v-if="linkedin" :url="linkedInUrl" :linkType="linkedin" />
    <icon-link v-if="github" :url="githubUrl" :linkType="github" />
    <icon-link v-if="bitbucket" :url="bitbucketUrl" :linkType="bitbucket" />
  </ul>
</template>

<script>
import { userDetails } from "../../personalData.js";
import IconLink from "./IconLink";
import linkConstants from "./linkConstants.js";

export default {
  name: "LinksBlock",
  components: {
    IconLink
  },
  data: () => {
    return {
      facebook: linkConstants.FACEBOOK,
      twitter: linkConstants.TWITTER,
      linkedin: linkConstants.LINKEDIN,
      github: linkConstants.GITHUB,
      bitbucket: linkConstants.BITBUCKET
    };
  },
  computed: {
    facebookUrl: () => {
      return `https://www.facebook.com/${userDetails.facebook}`;
    },
    twitterUrl: () => {
      return `https://twitter.com/${userDetails.twitter}`;
    },
    linkedInUrl: () => {
      return `https://linkedin.com/in/${userDetails.linkedin}`;
    },
    githubUrl: () => {
      return `https://github.com/${userDetails.github}`;
    },
    bitbucketUrl: () => {
      return `https://bitbucket.com/${userDetails.bitbucket}`;
    }
  }
};
</script>

<style>

</style>
