<template>
  <h1 class="mb-0">
    {{ fname }}
    <span class="text-primary">{{ lname }}</span>
  </h1>
</template>

<script>
export default {
  name: "NameBlock",
  props: {
    fname: {
      type: String,
      required: true
    },
    lname: {
      type: String,
      required: true
    }
  }
};
</script>

<style>

</style>
