<template>
  <p class="mb-5">
    {{ objectiveText }}
  </p>
</template>

<script>
import { userDetails } from "../../personalData.js";
export default {
  name: "ObjectiveBlock",
  data: () => {
    return {
      objectiveText: userDetails.objective
    };
  }
};
</script>

<style>

</style>
