<template>
  <span class="d-none d-lg-block">
    <v-gravatar
      class="img-fluid img-profile rounded-circle mx-auto mb-2"
      :email="email"
      :size="150"
    />
  </span>
</template>

<script>
export default {
  name: "ProfilePic",
  props: {
    email: {
      type: String,
      required: true
    }
  }
};
</script>

<style>

</style>
