<template>
  <section
    class="resume-section p-3 p-lg-5 d-flex d-column"
    id="about"
  >
    <div class="my-auto">
      <name-block
        :fname="fname"
        :lname="lname" />
      <address-block />
      <objective-block />
      <links-block />
    </div>
  </section>
</template>

<script>
import { userDetails } from "../personalData.js";
import NameBlock from "./About/NameBlock";
import AddressBlock from "./About/AddressBlock";
import ObjectiveBlock from "./About/ObjectiveBlock";
import LinksBlock from "./About/LinksBlock";

export default {
  name: "About",
  components: {
    NameBlock,
    AddressBlock,
    ObjectiveBlock,
    LinksBlock
  },
  data() {
    return {
      fname: userDetails.fname,
      lname: userDetails.lname
    };
  }
};
</script>

<style>

</style>
