<template>
  <section class="resume-section p-3 p-lg-5 d-flex flex-column" id="experience">
    <div class="my-auto">
      <h2 class="mb-5">Experience</h2>
      <div v-for="(item, index) in experience" :key="index">
        <experience-item :item="item" />
      </div>
      <div class="subheading mb-3">
        There's more, but it's so long ago, it's not really relevant anymore. But hey, if you want it, <a href="mailto:riceboyler@gmail.com">ask for it!</a>
      </div>
    </div>
  </section>
</template>

<script>
import ExperienceItem from "./Experience/ExperienceItem";
import { experience } from "../personalData.js";

export default {
  name: "Experience",
  components: {
    ExperienceItem
  },
  data() {
    return {
      experience
    };
  }
};
</script>

<style>

</style>
