<template>
  <nav
    id="sideNav"
    class="navbar navbar-expand-lg navbar-dark bg-primary fixed-top">
    <a
      href="#page-top"
      class="navbar-brand js-scroll-trigger">
      <ProfilePic email="riceboyler@gmail.com" />
    </a>
    <button
      class="navbar-toggler"
      type="button"
      data-toggle="collapse"
      data-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon" />
    </button>
    <div
      class="collapse navbar-collapse"
      id="navbarSupportedContent"
    >
      <ul
      class="navbar-nav">
        <li
        class="nav-item">
          <a
            href="#about"
            class="nav-link"
          >About</a>
        </li>
        <li class="nav-item">
          <a
            href="#experience"
            class="nav-link"
          >
          Experience</a>
        </li>
        <li class="nav-item">
          <a
            href="#education"
            class="nav-link"
          >
            Education
          </a>
        </li>
        <li class="nav-item">
          <a
            href="#skills"
            class="nav-link"
          >Skills</a>
        </li>
        <li class="nav-item">
          <a
            href="#interests"
            class="nav-link"
          >Interests</a>
        </li>
      </ul>
    </div>
  </nav>
</template>

<script>
import ProfilePic from "./Navigation/ProfilePic";
export default {
  name: "Navigation",
  components: {
    ProfilePic
  }
};
</script>

<style>

</style>
