<template>
  <div class="resume-item d-flex flex-column flex-md-row mb-5">
    <div class="resume-content mr-auto">
      <h3 class="mb-0">{{ title }}</h3>
      <div class="subheading mb-3">
        {{ company }} | {{ location }}
      </div>
      <p>{{ description }}</p>
    </div>
    <div class="resume-date text-md-right">
      <span class="text-primary">
        {{ dates }}
      </span>
    </div>
  </div>
</template>

<script>
import VueTypes from "vue-types";

export default {
  name: "ExperienceItem",
  props: {
    item: VueTypes.object.isRequired
  },
  data() {
    return {
      title: this.item.title,
      company: this.item.company,
      location: this.item.location,
      description: this.item.description
    };
  },
  computed: {
    dates() {
      return `${this.item.start} - ${this.item.end}`;
    }
  }
};
</script>

<style>

</style>
