<template>
  <div id="app">
    <Navigation />
    <div class="container-fluid p-0">
      <About />
      <Experience />
    </div>
  </div>
</template>

<script>
import Navigation from "./components/Navigation";
import About from "./components/About";
import Experience from "./components/Experience";

export default {
  name: "App",
  components: {
    Navigation,
    About,
    Experience
  }
};
</script>

<style>

</style>
